<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/152f93e6-9793-48d9-a5c4-ba842cd69fdd/resourcegroups/RatersBusiness/providers/Microsoft.Web/sites/RatersOfTheLostBusiness20210811140616</ResourceId>
    <ResourceGroup>RatersBusiness</ResourceGroup>
    <ApiResourceId>/subscriptions/152f93e6-9793-48d9-a5c4-ba842cd69fdd/resourceGroups/RatersBusiness/providers/Microsoft.ApiManagement/service/RatersOfTheLostBusinessapi/apis/RatersOfTheLostBusiness</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://ratersofthelostbusiness20210811140616.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <ProjectGuid>7d85c5a6-fc27-412a-bec1-bae1064ca964</ProjectGuid>
    <MSDeployServiceURL>ratersofthelostbusiness20210811140616.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>RatersOfTheLostBusiness20210811140616</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$RatersOfTheLostBusiness20210811140616</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>